<div class="col l2" id="game-load-logo-0">
  <div class="row" onclick="swapGame(<%= @stats[0].id %>);" id="text">
    <div class="col l4">
      <h6><%= Date.parse(@stats[0].game_date).strftime('%^b') %></h6>
      <h4><%= Date.parse(@stats[0].game_date).strftime('%-d') %></h4>
    </div>
    <div class="col l8">
      <h5><%= @stats[0].opp.last(3) %></h5>
    </div>
  </div>

  <div class="row center-align" style="display: none;" id="logo">
    <%= image_tag @stats[0].opp.last(3) + '.png', :class => 'responsive-img team-logo', :onclick => "swapGame(#{@stats[0].id});" %>
  </div>
</div>

<div class="col l2" id="game-load-logo-1">
  <div class="row" onclick="swapGame(<%= @stats[1].id %>);" id="text">
    <div class="col l4">
      <h6><%= Date.parse(@stats[1].game_date).strftime('%^b') %></h6>
      <h4><%= Date.parse(@stats[1].game_date).strftime('%-d') %></h4>
    </div>
    <div class="col l8">
      <h5><%= @stats[1].opp.last(3) %></h5>
    </div>
  </div>

  <div class="row center-align" style="display: none;" id="logo">
    <%= image_tag @stats[1].opp.last(3) + '.png', :class => 'responsive-img team-logo', :onclick => "swapGame(#{@stats[1].id});" %>
  </div>
</div>

<div class="col l2" id="game-load-logo-2">
  <div class="row" onclick="swapGame(<%= @stats[2].id %>);" id="text">
    <div class="col l4">
      <h6><%= Date.parse(@stats[2].game_date).strftime('%^b') %></h6>
      <h4><%= Date.parse(@stats[2].game_date).strftime('%-d') %></h4>
    </div>
    <div class="col l8">
      <h5><%= @stats[2].opp.last(3) %></h5>
    </div>
  </div>

  <div class="row center-align" style="display: none;" id="logo">
    <%= image_tag @stats[2].opp.last(3) + '.png', :class => 'responsive-img team-logo', :onclick => "swapGame(#{@stats[2].id});" %>
  </div>
</div>

<div class="col l2" id="game-load-logo-3">
  <div class="row" onclick="swapGame(<%= @stats[3].id %>);" id="text">
    <div class="col l4">
      <h6><%= Date.parse(@stats[3].game_date).strftime('%^b') %></h6>
      <h4><%= Date.parse(@stats[3].game_date).strftime('%-d') %></h4>
    </div>
    <div class="col l8">
      <h5><%= @stats[3].opp.last(3) %></h5>
    </div>
  </div>

  <div class="row center-align" style="display: none;" id="logo">
    <%= image_tag @stats[3].opp.last(3) + '.png', :class => 'responsive-img team-logo', :onclick => "swapGame(#{@stats[3].id});" %>
  </div>
</div>

<div class="col l2" id="game-load-logo-4">
  <div class="row" onclick="swapGame(<%= @stats[4].id %>);" id="text" style="display: none;">
    <div class="col l4">
      <h6><%= Date.parse(@stats[4].game_date).strftime('%^b') %></h6>
      <h4><%= Date.parse(@stats[4].game_date).strftime('%-d') %></h4>
    </div>
    <div class="col l8">
      <h5><%= @stats[4].opp.last(3) %></h5>
    </div>
  </div>

  <div class="row center-align" id="logo" style="background-color: #D3D3D3;">
    <%= image_tag @stats[4].opp.last(3) + '.png', :class => 'responsive-img team-logo', :onclick => "swapGame(#{@stats[4].id});" %>
  </div>
</div>

<div class="col l2" id="season-stats" style="margin-top: 20px;">
  <div class="row center-align">
    <h6>2017-18<br/>SEASON<br/>STATS</h6>
  </div>
</div>