<div class="row">
  <div class="col s6 offset-s1 left-align" style="margin-bottom: 5px;">DATE:             </div><div class="col s4"><%= @last_game.game_date %></div>
  <div class="col s6 offset-s1 left-align" style="margin-bottom: 5px;">OPP:              </div><div class="col s4"><%= @last_game.opp %></div>
  <div class="col s6 offset-s1 left-align" style="margin-bottom: 5px;">SCORE:            </div><div class="col s4"><%= @last_game.score %></div>
  <div class="col s6 offset-s1 left-align" style="margin-bottom: 5px;">MINUTES:          </div><div class="col s4"><%= @last_game.min %></div>
  <div class="col s6 offset-s1 left-align" style="margin-bottom: 5px;">FGM-FGA:          </div><div class="col s4"><%= @last_game.fgm_fga %></div>
  <div class="col s6 offset-s1 left-align" style="margin-bottom: 5px;">PERCENTAGE:       </div><div class="col s4"><%= @last_game.fg_prct %></div>
  <div class="col s6 offset-s1 left-align" style="margin-bottom: 5px;">THREE PT FGM-FGA: </div><div class="col s4"><%= @last_game.three_m_a %></div>
  <div class="col s6 offset-s1 left-align" style="margin-bottom: 5px;">PERCENTAGE:       </div><div class="col s4"><%= @last_game.three_prct %></div>
  <div class="col s6 offset-s1 left-align" style="margin-bottom: 5px;">FTM-FTA:          </div><div class="col s4"><%= @last_game.ftm_fta %></div>
  <div class="col s6 offset-s1 left-align" style="margin-bottom: 5px;">PERCENTAGE:       </div><div class="col s4"><%= @last_game.ft_prct %></div>
  <div class="col s6 offset-s1 left-align" style="margin-bottom: 5px;">REBOUNDS:         </div><div class="col s4"><%= @last_game.reb %></div>
  <div class="col s6 offset-s1 left-align" style="margin-bottom: 5px;">ASSISTS:          </div><div class="col s4"><%= @last_game.ast %></div>
  <div class="col s6 offset-s1 left-align" style="margin-bottom: 5px;">BLOCKS:           </div><div class="col s4"><%= @last_game.blk %></div>
  <div class="col s6 offset-s1 left-align" style="margin-bottom: 5px;">STEALS:           </div><div class="col s4"><%= @last_game.stl %></div>
  <div class="col s6 offset-s1 left-align" style="margin-bottom: 5px;">POINTS:           </div><div class="col s4"><%= @last_game.pts %></div>
</div>