<div class="col l5 s12 stats">
  <div class="row first-row">
    <div class="col l4 s4">
      <% if ['GS', 'NO', 'NY', 'SA'].include?(game.opp[-2..-1]) %>
        <h4><%= game.opp[-2..-1] %></h4>
      <% elsif game.opp[-4..-1] == 'UTAH' %>
        <h4>UTAH</h4>
      <% else %>
        <h4><%= game.opp.last(3) %></h4>
      <% end %>
      <p class="title2"><%= Date.parse(game.game_date).strftime('%^B %-d') %></p>
    </div>
    <div class="col l4 s4">
      <h4><%= if game.pts then game.pts end %></h4>
      <p class="title2">POINTS</p>
    </div>
    <div class="col l4 s4">
      <h4><%= if game.min then game.min end %></h4>
      <p class="title2">MINUTES</p>
    </div>
  </div>

  <div class="row second-row">
    <div class="col l4 s4">
      <h4><%= if game.fg_prct then (game.fg_prct.to_f * 100).round(2) == 100.0 ? 100 : (game.fg_prct.to_f * 100).round(2) end %></h4>
      <p class="subtitle1">FIELD GOAL %</p>
      <p class="subtitle2">
        <%= if game.fgm_fga then game.fgm_fga.to_s.split('-')[0] end %> for <%= if game.fgm_fga then game.fgm_fga.to_s.split('-')[1] end %> 
      </p>
    </div>
    <div class="col l4 s4">
      <h4><%= if game.ft_prct then (game.ft_prct.to_f * 100).round(2) == 100.0 ? 100 : (game.ft_prct.to_f * 100).round(2) end %></h4>
      <p class="subtitle1">FREE THROW %</p>
      <p class="subtitle2">
        <%= if game.ftm_fta then game.ftm_fta.to_s.split('-')[0] end %> for <%= if game.ftm_fta then game.ftm_fta.to_s.split('-')[1] end %> 
      </p>
    </div>
    <div class="col l4 s4">
      <h4><%= if game.three_prct then (game.three_prct.to_f * 100).round(2) == 100.0 ? 100 : (game.three_prct.to_f * 100).round(2) end %></h4>
      <p class="subtitle1">THREE POINT %</p>
      <p class="subtitle2">
        <%= if game.three_m_a then game.three_m_a.to_s.split('-')[0] end %> for <%= if game.three_m_a then game.three_m_a.to_s.split('-')[1] end %> 
      </p>
    </div>
  </div>

  <div class="row quad">
    <div class="col l4 s12">
      <div class="row quad-stats">
        <div class="col l6 s3">
          <p>AST</p>
          <h5><%= if game.ast then game.ast end %></h5>
        </div>
        <div class="col l6 s3">
          <p>REB</p>
          <h5><%= if game.reb then game.reb end %></h5>
        </div>
        <div class="col l6 s3">
          <p>STL</p>
          <h5><%= if game.stl then game.stl end %></h5>
        </div>
        <div class="col l6 s3">
          <p>BLK</p>
          <h5><%= if game.blk then game.blk end %></h5>
        </div>
      </div>
    </div>

    <div class="col l8 s12">
      <div class="row giphy">
        <% if game.player_giphy_id %>
          <div class="video-container responsive-video" width="480" height="360">
            <iframe src="https://giphy.com/embed/<%= if game.player_giphy_id then game.player_giphy_id end %>" frameBorder="0" allowfullscreen></iframe>
          </div>
        <% else %>
          <div class="col l12 s12">
            <div class="card horizontal">
              <div class="card-image">
                <%= image_tag 'giphy.png', :class => 'responsive-img giphy-placeholder' %>
              </div>
              <div class="card-content valign-wrapper">
                <p>... in editing!</p>
              </div>
            </div>
          </div>
        <% end %>
      </div>
    </div>
  </div>
</div>

<div class="col l7 s12 youtube">
  <div class="row youtube-row">
    <% if game.video_id %>
      <div class="video-container youtube-video">
        <iframe src="//www.youtube.com/embed/<%= if game.video_id then game.video_id end %>?rel=0" frameborder="0" allowfullscreen></iframe>
      </div>
    <% else %>
      <div class="col l12 s12">
        <div class="card">
          <div class="card-image">
            <%= image_tag 'youtube.jpg', :class => 'responsive-img youtube-placeholder' %>
          </div>
          <div class="card-content">
            <h5>Highlight video in editing room... <span id="in-editing">Trust the Process.</span></h5>
          </div>
        </div>
      </div>
    <% end %>
  </div>
</div>
