<% @games.each do |g| %>
  <% if (g.id + 1) == @next_game[0].id %>

    <div 
      class="col l2"
      id="nav-text-<%= g.id %>"
      style="height: 125px; border: 1px rgba(211,211,211,0.8) solid; display: none; "
      onclick="swapGame(<%= g.id %>);"
    >
      <h6><%= g.score %></h6>
      <h4><%= g.opp.last(3) %></h4>
      <h6><%= Date.parse(g.game_date).strftime('%^B %-d') %></h6>
    </div>

    <div 
      class="col l2"
      id="nav-logo-<%= g.id %>"
      style="height: 125px; background-color: rgba(211,211,211,0.8);"
      onclick="swapGame(<%= g.id %>);"
    >
      <span class="initially-loaded-game" style="display: none;"><%= g.id %></span>
      <%= image_tag g.opp.last(3) + '.png', :class => 'responsive-img team-logo' %>
    </div>

  <% elsif g.next_game? == false %>

    <div 
      class="col l2"
      id="nav-text-<%= g.id %>"
      style="height: 125px; border: 1px rgba(211,211,211,0.8) solid;"
      onclick="swapGame(<%= g.id %>);"
    >
      <h6><%= g.score %></h6>
      <h4><%= g.opp.last(3) %></h4>
      <h6><%= Date.parse(g.game_date).strftime('%^B %-d') %></h6>
    </div>

    <div 
      class="col l2"
      id="nav-logo-<%= g.id %>"
      style="display: none; height: 125px; background-color: rgba(211,211,211,0.8);"
      onclick="swapGame(<%= g.id %>);"
    >
      <%= image_tag g.opp.last(3) + '.png', :class => 'responsive-img team-logo' %>
    </div>

  <% else %>

    <div class="col l2" style="height: 125px; border: 1px rgba(211,211,211,0.8) solid;">
      <h6>NEXT UP</h6>
      <h4><%= g.opp.last(3) %></h4>
      <h6><%= Date.parse(g.game_date).strftime('%^B %-d') %></h6>
    </div>

  <% end %>
<% end %>

<div class="col l2" style="height: 125px; border: 1px rgba(211,211,211,0.8) solid;">
  <h6>2017-18</h6>
  <h4>SEASON</h4>
  <h6>STATS</h6>
</div>