<div class="col l5">
  <div class="row">
    <div class="col l4">
      <strong><%= @last_game.opp.last(3) %></strong>
      <br/>
      <%= Date.parse(@last_game.game_date).strftime('%^b') %> 
      <%= Date.parse(@last_game.game_date).strftime('%-d') %>
    </div>
    <div class="col l4">
      <%= @last_game.pts %>
      <br/>
      POINTS
    </div>
    <div class="col l4">
      <%= @last_game.min %>
      <br/>
      MINUTES
    </div>
  </div>

  <div class="row">
    <div class="col l4">
      <%= @last_game.fg_prct %>
      <br/>
      FIELD GOAL %
    </div>
    <div class="col l4">
      <%= @last_game.ft_prct %>
      <br/>
      FREE THROW %
    </div>
    <div class="col l4">
      <%= @last_game.three_prct %>
      <br/>
      THREE POINT %
    </div>
  </div>

  <div class="row">
    <div class="col l4">
      <div class="row">
        <div class="col l6">
          REB
          <br/>
          <%= @last_game.reb %>
        </div>
        <div class="col l6">
          AST
          <br/>
          <%= @last_game.ast %>
        </div>
      </div>
      <div class="row">
        <div class="col l6">
          BLK
          <br/>
          <%= @last_game.blk %>
        </div>
        <div class="col l6">
          STL
          <br/>
          <%= @last_game.stl %>
        </div>
      </div>
    </div>

    <div class="col l8">
      <div class="video-container responsive-video" width="480" height="300">
        <iframe src="https://giphy.com/embed/<%= @last_game.player_giphy_id %>" frameBorder="0" allowfullscreen></iframe>
      </div>
    </div>
  </div>
</div>

<div class="col l7">
  <div class="row">
    <div class="video-container responsive-video highlight-video" width="600" height="400">
      <object>
        <param name="movie" value="http://www.youtube.com/v/<%= @last_game.video_id %>"></param>
        <embed src="http://www.youtube.com/v/<%= @last_game.video_id %>" type="application/x-shockwave-flash"></embed>
      </object>
    </div>
  </div>
</div>