<div class="col l5 stats" style="margin-bottom: -50px;">
  <div class="row">
    <div class="col l4">
      <h4><%= game.opp.last(3) %></h4>
      <h6 style="padding-left: 2.5px; margin-top: -10px;"><%= Date.parse(game.game_date).strftime('%^B %-d') %></h6>
    </div>
    <div class="col l4">
      <h4><%= game.pts %></h4>
      <h6 style="margin-top: -10px;">POINTS</h6>
    </div>
    <div class="col l4">
      <h4><%= game.min %></h4>
      <h6 style="margin-top: -10px;">MINUTES</h6>
    </div>
  </div>

  <div class="row">
    <div class="col l4">
      <h5><%= game.fg_prct %></h5>
      <p style="margin-top: -10px; font-size: 12px;">FIELD GOAL %</p>
      <p style="margin-top: -10px; font-size: 10px;">
        FGM <%= if game.fgm_fga then game.fgm_fga.split('-')[0] end %> - FGA <%= if game.fgm_fga then game.fgm_fga.split('-')[1] end %> 
      </p>
    </div>
    <div class="col l4">
      <h5><%= game.ft_prct %></h5>
      <p style="margin-top: -10px; font-size: 12px;">FREE THROW %</p>
      <p style="margin-top: -10px; font-size: 10px;">
        FTM <%= if game.ftm_fta then game.ftm_fta.split('-')[0] end %> - FTA <%= if game.ftm_fta then game.ftm_fta.split('-')[1] end %> 
      </p>
    </div>
    <div class="col l4">
      <h5><%= game.three_prct %></h5>
      <p style="margin-top: -10px; font-size: 12px;">THREE POINT %</p>
      <p style="margin-top: -10px; font-size: 10px;">
        3PM <%= if game.three_m_a then game.three_m_a.split('-')[0] end %> - 3PA <%= if game.three_m_a then game.three_m_a.split('-')[1] end %> 
      </p>
    </div>
  </div>

  <div class="row">
    <div class="col l4">
      <div class="row">
        <div class="col l6">
          <p style="font-size: 12px;">REB</p>
          <h5 style="margin-top: -10px;"><%= game.reb %></h5>
        </div>
        <div class="col l6">
          <p style="font-size: 12px;">AST</p>
          <h5 style="margin-top: -10px;"><%= game.ast %></h5>
        </div>
      </div>
      <div class="row">
        <div class="col l6">
          <p style="font-size: 12px;">BLK</p>
          <h5 style="margin-top: -10px;"><%= game.blk %></h5>
        </div>
        <div class="col l6">
          <p style="font-size: 12px;">STL</p>
          <h5 style="margin-top: -10px;"><%= game.stl %></h5>
        </div>
      </div>
    </div>

    <div class="col l8">
      <div class="row" style="margin-top: 10px;">
        <div class="video-container responsive-video" width="480" height="300">
          <iframe src="https://giphy.com/embed/<%= game.player_giphy_id %>" frameBorder="0" allowfullscreen></iframe>
        </div>
      </div>
    </div>
  </div>
</div>

<div class="col l7 stats" style="margin-bottom: -20px;">
  <div class="row" style="margin-top: 25px;">
    <div class="video-container responsive-video highlight-video">
      <object>
        <param name="movie" value="http://www.youtube.com/v/<%= game.video_id %>"></param>
        <embed src="http://www.youtube.com/v/<%= game.video_id %>" type="application/x-shockwave-flash"></embed>
      </object>
    </div>
  </div>
</div>
