<script>
  $(document).ready(function() {
    $('#season-stats').modal();
  });
</script>

<% @games.each do |g| %>
  <% if (g.id + 1) == @next_game.id %>

    <div 
      class="col l2 s4 hoverable text-in-nav"
      id="nav-text-<%= g.id %>"
      style="display: none;"
      onclick="swapGame(<%= g.id %>);"
    >
      <h6>
        <% if g.score[0] == 'W' %> 
          <span style="color: #007f00;"><%= g.score[0] %></span>
          <%= g.score[1..-1] %>
        <% else %>
          <span style="color: #bf0000;"><%= g.score[0] %></span>
          <%= g.score[1..-1] %>
        <% end %>
      </h6>
      <!-- TODO: not elegant; make DRY -->
      <% if ['GS', 'NO', 'NY', 'SA'].include?(g.opp[-2..-1]) %>
        <h4><span class="nav-home-away-ind"><%= g.opp[0] == 'v' ? 'vs. ' : '@ ' %></span><%= g.opp[-2..-1] %></h4>
      <% elsif g.opp[-4..-1] == 'UTAH' %>
        <h4><span class="nav-home-away-ind"><%= g.opp[0] == 'v' ? 'vs. ' : '@ ' %></span>UTA</h4>
      <% else %>
        <h4><span class="nav-home-away-ind"><%= g.opp[0] == 'v' ? 'vs. ' : '@ ' %></span><%= g.opp.last(3) %></h4>      
      <% end %>
      <h6><%= Date.parse(g.game_date).strftime('%^B %-d') %></h6>
    </div>

    <div 
      class="col l2 s4 hoverable logo-in-nav"
      id="nav-logo-<%= g.id %>"
      onclick="swapGame(<%= g.id %>);"
    >
      <span class="initially-loaded-game" style="display: none;"><%= g.id %></span>
      <!-- TODO: not elegant; make DRY -->
      <% if ['GS', 'NO', 'NY', 'SA'].include?(g.opp[-2..-1]) %>
        <%= image_tag g.opp[-2..-1] + '.png', :class => 'responsive-img team-logo' %>
      <% elsif g.opp[-4..-1] == 'UTAH' %>
        <%= image_tag 'UTAH.png', :class => 'responsive-img team-logo' %>
      <% else %>
        <%= image_tag g.opp.last(3) + '.png', :class => 'responsive-img team-logo' %>
      <% end %>
    </div>

  <% elsif g.next_game? == false %>

    <div 
      class="col l2 s4 hoverable text-in-nav"
      id="nav-text-<%= g.id %>"
      onclick="swapGame(<%= g.id %>);"
    >
      <% if g.score[0] == 'W' %> 
        <span style="color: #007f00;"><%= g.score[0] %></span>
        <%= g.score[1..-1] %>
      <% else %>
        <span style="color: #bf0000;"><%= g.score[0] %></span>
        <%= g.score[1..-1] %>
      <% end %>
      <!-- TODO: not elegant; make DRY -->
      <% if ['GS', 'NO', 'NY', 'SA'].include?(g.opp[-2..-1]) %>
        <h4><span class="nav-home-away-ind"><%= g.opp[0] == 'v' ? 'vs. ' : '@ ' %></span><%= g.opp[-2..-1] %></h4>
      <% elsif g.opp[-4..-1] == 'UTAH' %>
        <h4><span class="nav-home-away-ind"><%= g.opp[0] == 'v' ? 'vs. ' : '@ ' %></span>UTA</h4>
      <% else %>
        <h4><span class="nav-home-away-ind"><%= g.opp[0] == 'v' ? 'vs. ' : '@ ' %></span><%= g.opp.last(3) %></h4>      
      <% end %>
      <h6><%= Date.parse(g.game_date).strftime('%^B %-d') %></h6>
    </div>

    <div 
      class="col l2 s4 hoverable logo-in-nav"
      id="nav-logo-<%= g.id %>"
      style="display: none;"
      onclick="swapGame(<%= g.id %>);"
    >
      <!-- TODO: not elegant; make DRY -->
      <% if ['GS', 'NO', 'NY', 'SA'].include?(g.opp[-2..-1]) %>
        <%= image_tag g.opp[-2..-1] + '.png', :class => 'responsive-img team-logo' %>
      <% elsif g.opp[-4..-1] == 'UTAH' %>
        <%= image_tag 'UTAH.png', :class => 'responsive-img team-logo' %>
      <% else %>
        <%= image_tag g.opp.last(3) + '.png', :class => 'responsive-img team-logo' %>
      <% end %>
    </div>

  <% else %>

    <div class="col l2 s4 next-nav">
      <h6>NEXT UP</h6>
      <!-- TODO: not elegant; make DRY -->
      <% if ['GS', 'NO', 'NY', 'SA'].include?(g.opp[-2..-1]) %>
        <h4><span class="nav-home-away-ind"><%= g.opp[0] == 'v' ? 'vs. ' : '@ ' %></span><%= g.opp[-2..-1] %></h4>
      <% elsif g.opp[-4..-1] == 'UTAH' %>
        <h4><span class="nav-home-away-ind"><%= g.opp[0] == 'v' ? 'vs. ' : '@ ' %></span>UTA</h4>
      <% else %>
        <h4><span class="nav-home-away-ind"><%= g.opp[0] == 'v' ? 'vs. ' : '@ ' %></span><%= g.opp.last(3) %></h4>      
      <% end %>
      <h6><%= Date.parse(g.game_date).strftime('%^B %-d') %></h6>
    </div>

  <% end %>
<% end %>

<a class="modal-trigger" href="#season-stats">
  <div class="col l2 s4 hoverable" id="season-stats-nav-selector">
    <h6>2017-18</h6>
    <h4>SEASON</h4>
    <h6>STATS</h6>
  </div>
</a>

<!-- season stats modal -->
<div id="season-stats" class="modal">
  <div class="modal-content">
    <%= render 'season_stats' %>
  </div>
</div>
          