<div class="col l5 s12 stats">
  <div class="row first-row">
    <div class="col l4 s4">
      <h4><%= game.opp.last(3) %></h4>
      <p class="title2"><%= Date.parse(game.game_date).strftime('%^B %-d') %></p>
    </div>
    <div class="col l4 s4">
      <h4><%= game.pts %></h4>
      <p class="title2">POINTS</p>
    </div>
    <div class="col l4 s4">
      <h4><%= game.min %></h4>
      <p class="title2">MINUTES</p>
    </div>
  </div>

  <div class="row second-row">
    <div class="col l4 s4">
      <h4><%= game.fg_prct %></h4>
      <p class="subtitle1">FIELD GOAL %</p>
      <p class="subtitle2">
        <%= game.fgm_fga.split('-')[0] %> for <%= game.fgm_fga.split('-')[1] %> 
      </p>
    </div>
    <div class="col l4 s4">
      <h4><%= game.ft_prct %></h4>
      <p class="subtitle1">FREE THROW %</p>
      <p class="subtitle2">
        <%= game.ftm_fta.split('-')[0] %> for <%= game.ftm_fta.split('-')[1] %> 
      </p>
    </div>
    <div class="col l4 s4">
      <h4><%= game.three_prct %></h4>
      <p class="subtitle1">THREE POINT %</p>
      <p class="subtitle2">
        <%= game.three_m_a.split('-')[0] %> for <%= game.three_m_a.split('-')[1] %> 
      </p>
    </div>
  </div>

  <div class="row quad">
    <div class="col l4 s12">
      <div class="row">
        <div class="col l6 s3">
          <p>AST</p>
          <h5><%= game.ast %></h5>
        </div>
        <div class="col l6 s3">
          <p>REB</p>
          <h5><%= game.reb %></h5>
        </div>
        <div class="col l6 s3">
          <p>STL</p>
          <h5><%= game.stl %></h5>
        </div>
        <div class="col l6 s3">
          <p>BLK</p>
          <h5><%= game.blk %></h5>
        </div>
      </div>
    </div>

    <div class="col l8 s12">
      <div class="row giphy">
        <div class="video-container responsive-video" width="480" height="300">
          <iframe src="https://giphy.com/embed/<%= game.player_giphy_id %>" frameBorder="0" allowfullscreen></iframe>
        </div>
      </div>
    </div>
  </div>
</div>

<div class="col l7 s12 youtube">
  <div class="row youtube-row">
     <div class="video-container youtube-video">
        <iframe src="//www.youtube.com/embed/<%= game.video_id %>?rel=0" frameborder="0" allowfullscreen></iframe>
      </div>
  </div>
</div>
