<div class="last-game">
	<h4>LATEST GAME STATS</h4>
	<p>(Super Dario stats substitued)</p>
	<br/>

	<p>DATE:             <%= @last_game.game_date %></p>
	<p>OPP:              <%= @last_game.opp %></p>
	<p>SCORE:            <%= @last_game.score %></p>
	<p>MINUTES:          <%= @last_game.min %></p>
	<p>FGM-FGA:          <%= @last_game.fgm_fga %></p>
	<p>PERCENTAGE:       <%= @last_game.fg_prct %></p>
	<p>THREE PT FGM-FGA: <%= @last_game.three_m_a %></p>
	<p>PERCENTAGE:       <%= @last_game.three_prct %></p>
	<p>FTM-FTA:          <%= @last_game.ftm_fta %></p>
	<p>PERCENTAGE:       <%= @last_game.ft_prct %></p>
	<p>REBOUNDS:         <%= @last_game.reb %></p>
	<p>ASSISTS:          <%= @last_game.ast %></p>
	<p>BLOCKS:           <%= @last_game.blk %></p>
	<p>STEALS:           <%= @last_game.stl %></p>
	<p>POINTS:           <%= @last_game.pts %></p>
</div>