<div id="toj"></div>

<div id="toj" style="height: 300px; margin-bottom: 10px;  overflow-y: scroll; background-color: rgba(255,255,255,1.0);">
  <% @tweets_joel.each do |tweet| %>
    <div style="margin-bottom: -15px;">

      <img 
        class="responsive-img circle valign-wrapper" 
        src="https://twitter.com/<%= tweet.user.screen_name.to_s %>/profile_image?size=normal"
        style="display: inline-block; margin-left: 2.5%; margin-top: 1%;"
      >

      <p 
        style="display: inline-block; margin-left: 1%; position: relative; bottom: 15px;"
      >

        <span style="font-size: 12px;">
          <%= tweet.created_at.strftime("%-d %b %Y %l:%M%p") %>
          <%= auto_link('@' + tweet.user.screen_name.to_s, target: '_blank' ).html_safe %>
          says:
        </span>

      </p>

      <p 
        style="font-size: 14px; margin-left: 1.5%; position: relative; bottom: 30px;"
      >
        <%= auto_link(Obscenity.sanitize(tweet.full_text.to_s.dup), target: '_blank').html_safe %>
      </p>

      <p class="tweets-on-joel" style="display: none;"><%= tweet.id %></p>
    </div>
  <% end %>
</div>


