<% @games.each do |game| %>
  <% if game.id == ( @next_game.id - 1 )%>
    <div class="row center-align" id="game-<%= game.id %>">
      <span class="initially-displayed-game" style="display: none;"><%= game.id %></span>
      <%= render 'game_stats', game: game %>
    </div>
  <% else %>
    <div class="row center-align" id="game-<%= game.id %>" style="display: none;">
      <%= render 'game_stats', game: game %>
    </div>
  <% end %>
<% end %>

<div class="row center-align" id="game-selector-nav">
  <%= render 'game_selector' %>
</div>

<div class="row" style="background-color: white;">
  <div class="col l7">
    <h5 style="margin-left: 1%; font-weight: 700;">JOEL EMBIID SAYS</h5>
    <span id="joel-on-twitter"><%= render 'joel_on_twitter' %></span>
  </div>

  <div class="col l5">
    <h5 style="font-weight: 700;">SIXERS' NATION SAYS</h5>
    <span id="twitter-on-joel"><%= render 'twitter_on_joel' %></span>
  </div>
</div>
