<br/>

<% @games.each do |game| %>
  <% if (game.id + 1) == @next_game[0].id %>
    <div class="row center-align" id="game-<%= game.id %>">
      <span class="initially-displayed-game" style="display: none;"><%= game.id %></span>
      <%= render 'game_stats', game: game %>
    </div>
  <% else %>
    <div class="row center-align" id="game-<%= game.id %>" style="display: none;">
      <%= render 'game_stats', game: game %>
    </div>
  <% end %>
<% end %>
