<br/>

<% @games.each do |game| %>
  <% if (game.id + 1) == @next_game[0].id %>
    <div class="row center-align" id="game-<%= game.id %>">
      <span class="initially-displayed-game" style="display: none;"><%= game.id %></span>
      <%= render 'game_stats', game: game %>
    </div>
  <% else %>
    <div class="row center-align" id="game-<%= game.id %>" style="display: none;">
      <%= render 'game_stats', game: game %>
    </div>
  <% end %>
<% end %>

<!-- TODO: iteration; arrows for scrolling? -->
<div class="row" style="background: rgba(255,255,255,0.8);">
  <%= render 'game_selector' %>
</div>

<div class="row">
  <div class="col l7">
    <h5 style="margin-left: 1%;">JOEL EMBIID SAYS</h5>
    <span id="joel-on-twitter"><%= render 'joel_on_twitter' %></span>
  </div>

  <div class="col l5">
    <h5>SIXERS' NATION SAYS</h5>
    <span id="twitter-on-joel"><%= render 'twitter_on_joel' %></span>
  </div>
</div>
