<div class="row center-align">
  <div class="col s12 l3">
    <h5>LATEST GAME STATS</h5>
    <br/>
    <%= render 'game_stats' %>
  </div>

  <div class="col s12 l3">
    <h5>EmbiidFeed.com</h5>
    <h6>version 2.0 coming soon!</h6>
    <img class="responsive-img" src="/assets/embiid_center.jpg">
    <br/>
    <br/>
    <img class="responsive-img" src="/assets/cameroon.png">
  </div>

  <div class="col s12 l3">
    <h5>JOEL @ TWITTER</h5>
    <br/>
    <span id="joel-on-twitter"><%= render 'joel_on_twitter' %></span>
  </div>

  <div class="col s12 l3">
    <h5>TWITTER @ JOEL</h5>
    <br/>
    <span id="twitter-on-joel"><%= render 'twitter_on_joel' %></span>
  </div>
</div>

<div class="row center-align">
  <div class="col s12 l6">
    <div class="video-container responsive-video" width="600" height="400" style="margin-bottom: 20px;">
      <iframe src="http://www.youtube.com/embed/<%= @last_game.video_id %>" frameborder="0" allowfullscreen></iframe>
    </div>
  </div>

  <div class="col s12 l6">
    <div class="video-container responsive-video" width="480" height="300">
      <iframe src="https://giphy.com/embed/<%= @last_game.player_giphy_id %>" frameBorder="0" allowfullscreen></iframe>
    </div>
  </div>
</div>
