<!DOCTYPE html>
<html>
<head>
  <title>Embiid21</title>
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <%= csrf_meta_tags %>

  <%= favicon_link_tag 'embiid_favicon.png' %>
</head>
<body>

<%= yield %>

</body>
</html>
