<!DOCTYPE html>
<html>
<head>
  <title>Embiid21</title>
  
  <meta name="viewport" content="width=device-width, initial-scale=1">

  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <%= csrf_meta_tags %>

  <%= favicon_link_tag 'embiid_favicon.png' %>

  <link href="https://fonts.googleapis.com/css?family=Graduate" rel="stylesheet">
</head>
<body>

<div class="container">
	<%= yield %>
</div>

</body>
</html>
