<!DOCTYPE html>
<html>
<head>
  <title>EmbiidFeed</title>

  <meta name="viewport" content="width=device-width, initial-scale=1">

  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <%= csrf_meta_tags %>
  <%= favicon_link_tag 'embiid_favicon.png' %>

  <!-- Materialize -->
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/materialize/0.100.2/css/materialize.min.css">
  <script src="https://cdnjs.cloudflare.com/ajax/libs/materialize/0.100.2/js/materialize.min.js"></script>

  <!-- AnimateCSS -->
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/animate.css/3.5.2/animate.min.css">

  <!-- font -->
  <link href="https://fonts.googleapis.com/css?family=Nunito:400,700" rel="stylesheet">
</head>
<body>

  <div class="navbar-fixed">
    <nav style="background-color: #C40000;">
      <div class="nav-wrapper">
        <a href="/" class="brand-logo center"><%= image_tag 'script_title.svg', :class => 'script-title' %></a>
      </div>
    </nav>
  </div>

  <div class="row center-align mobile-header-anchors">
    <div class="col s4 hoverable">
      <%= image_tag 'bball.png', :class => 'responsive-img circle logos', :onclick => 'clickToScroll("games");' %>
      <br>
      GAMES
    </div>
    <div class="col s4 hoverable">
      <%= image_tag 'embiid_head.png', :class => 'responsive-img circle logos', :onclick => 'clickToScroll("joel");' %>
      <br>
      JOEL SAYS
    </div>
    <div class="col s4 hoverable">
      <%= image_tag 'franklin.png', :class => 'responsive-img circle logos', :onclick => 'clickToScroll("nation");' %>
      <br>
      NATION SAYS
    </div>
  </div>

  <div class="embiid-full-bkgrnd">
    <div class="container">
    	<%= yield %>
    </div>
  </div>

  <footer>
    <%= render "layouts/footer" %>
  </footer>

</body>
</html>
