<!DOCTYPE html>
<html>
<head>
  <title>EmbiidFeed</title>

  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/animate.css/3.5.2/animate.min.css">

  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <%= csrf_meta_tags %>

  <%= favicon_link_tag 'embiid_favicon.png' %>

  <!-- Compiled and minified CSS -->
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/materialize/0.100.2/css/materialize.min.css">

  <!-- Compiled and minified JavaScript -->
  <script src="https://cdnjs.cloudflare.com/ajax/libs/materialize/0.100.2/js/materialize.min.js"></script>

  <link href="https://fonts.googleapis.com/css?family=Graduate" rel="stylesheet">
</head>
<body>
<!--   <div id="processing">
    <div id="inner">
      <h1>PROCESSING...</h1>
      <br/>
      <%= image_tag 'franklin.png', :class => 'responsive-img' %>
      <br/>
      <h3>www.EmbiidFeed.com</h3>
    </div>
  </div> -->

  <div class="container">
  	<%= yield %>

<!--   <div class="flag-stripe-g"></div>
    <div class="flag-stripe-r"></div>
    <div class="flag-stripe-y"></div>
    <div class="flag-stripe-w"></div>
  </div> -->

</body>
</html>
